* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 60px); /* 5 columns */
    grid-gap: 5px;
}

#game-board .cell {
    width: 60px;
    height: 60px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover; /* Ensures background images cover the cell */
    background-position: center; /* Centers background images within the cell */
}

.player {
    border: 5px solid blue; /* Highlight player's position */
    position: relative; /* Allows player indicator to be positioned relative to the cell */
    z-index: 2; /* Ensures player indicator is visible above background images */
}

.oasis {
    background-image: url('https://i.ibb.co/hL7DxYc/Oasis-marker.png');
}

.stargate {
    background-image: url('https://i.ibb.co/vBsWTg6/Stargate.png');
}
